.as

 %br
 = form_for :tweet, url: '/' do |f|
  %br
  .col-sm-3
  .col-sm-6.text-center
   %input#search-term.form-control{:name => "input", :placeholder => "Search..", :type => :text}
  %br
  %input{:type => :submit}

  %a{:href => "/facets"}facets count 