%body

 %span{:class => "label label-default"}You search for
 %br
 = form_for :tweet, url: '/' do |f|
  %br
  .col-sm-4.col-xs-12.text-center
   %input#search-term.form-control{:name => "input", :placeholder => "Search..", :type => :text}
  %br
  %input{:type => :submit}

  %a{:href => "/facets"}facets count 