<div class="col-sm-4 col-xs-12 text-center">
                        <!-- Top search -->
                        <form id="top-search" class="pull-left" action="page_ready_search_results.html" method="post">
                            <input type="text" id="search-term" class="form-control" name="search-term" placeholder="Search..">
                        </form>
                        <!-- END Top search -->

                        <!-- Logo -->
                        <a href="index.html" class="navbar-brand">
                            <img src="img/template/logo.png" alt="logo">
                        </a>
                        <!-- END Logo -->

                        <!-- Loading Indicator, Used for demostrating how loading of notifications could happen, check main.js - uiDemo() -->
                        <div id="loading" class="display-none"><i class="icon-spinner icon-spin"></i></div>
                    </div>