<!DOCTYPE html>
 <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Twitance - A Twitter Recommendation and Analytics Tool</title>

        <meta name="description" content="Twitance is Twitter based Recommendation tool helping people to gain their audience">
        <meta name="author" content="AARJ">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="assets/favicon.ico">
        <link rel="apple-touch-icon" href="assets/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="assets/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="assets/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="assets/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="assets/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="assets/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="assets/icon152.png" sizes="152x152">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- The Open Sans font is included from Google Web Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic">

        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="assets/bootstrap.css">

        <!-- Related styles of various icon packs and javascript plugins -->
        <link rel="stylesheet" href="assets/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="assets/main.css">

        <!-- Load a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="assets/themes.css">
        <!-- END Stylesheets -->

        <!-- Modernizr (Browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it) -->
        <script src="assets/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="assets/application.js"></script>
    </head>
<body>
    <div id="page-container" class="full-width">
        <header class="navbar navbar-inverse">
            <div class="col-sm-12 text-center">
            <br>
                        <a href=/ class="navbar-brand">
                            <img src="assets/template/image.png" alt="logo">
                        </a>
                        <br>
                        <br>
            </div>
        </header> 
            <div>            
                            <%= yield %>   
            </div>
        </div> 
    </div>
         <!-- Excanvas for Flot (Charts plugin) support on IE8 -->
        <!--[if lte IE 8]><script src="js/helpers/excanvas.min.js"></script><![endif]-->

        <!-- Get Jquery library from Google but if something goes wrong get Jquery from local file - Remove 'http:' if you have SSL -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="js/vendor/jquery-1.9.1.min.js"%3E%3C/script%3E'));</script>

        <!-- Bootstrap.js -->
        <script src="assets/vendor/bootstrap.min.js"></script>

        <!-- Jquery plugins and custom javascript code -->
        <script src="assets/plugins.js"></script>
        <script src="assets/main.js"></script>
        
        <!-- Google Maps API + Gmaps Plugin - Remove 'http:' if you have SSL -->
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <!--<script src="assets/helpers/gmaps.min.js"></script>
        -->
        <!-- Javascript code only for this page 
        <script>
            $(function() {
                var dashChart = $('#dashboard-chart');
                var dashMap = $('#dashboard-map');
                var componentHeight = '300px';

                // Initialize Slimscroll
                $('.scrollable').slimScroll({
                    height: componentHeight,
                    color: '#333',
                    size: '5px',
                    alwaysVisible: true,
                    railVisible: true,
                    railColor: '#333',
                    railOpacity: 0.1,
                    touchScrollStep: 750
                });

                /* Dashboard Chart */
                var dashData1 = [[0, 620], [1, 500], [2, 900], [3, 650], [4, 1250], [5, 850], [6, 1700]];
                var dashData2 = [[0, 110], [1, 80], [2, 320], [3, 250], [4, 550], [5, 520], [6, 600]];

                dashChart.css('height', componentHeight);

                // Initialize Classic Chart
                $.plot(dashChart, [
                    {data: dashData1, lines: {show: true, fill: true, fillColor: {colors: [{opacity: 0.25}, {opacity: 0.25}]}}, points: {show: true}, label: 'New Users'},
                    {data: dashData2, lines: {show: true, fill: true, fillColor: {colors: [{opacity: 0.1}, {opacity: 0.1}]}}, points: {show: true}, label: 'New Projects'}],
                {
                    legend: {
                        position: 'nw',
                        backgroundColor: null
                    },
                    colors: ['#2980b9', '#333'],
                    grid: {
                        borderWidth: 0,
                        color: '#999999',
                        labelMargin: 10,
                        hoverable: true,
                        clickable: true
                    },
                    yaxis: {
                        ticks: 0,
                        tickColor: '#fff'
                    },
                    xaxis: {
                        tickSize: 1,
                        tickColor: '#fff',
                        ticks: [[0, 'MON'], [1, 'TUE'], [2, 'WED'], [3, 'THU'], [4, 'FRI'], [5, 'SAT'], [6, 'SUN']]
                    }
                }
                );

                // Creating and attaching a tooltip
                var previousPoint = null;
                dashChart.bind("plothover", function(event, pos, item) {

                    if (item) {
                        if (previousPoint !== item.dataIndex) {
                            previousPoint = item.dataIndex;

                            $("#tooltip").remove();
                            var x = item.datapoint[0],
                                y = item.datapoint[1];

                            $('<div id="tooltip" class="chart-tooltip"><strong>' + y + '</strong></div>')
                                .css({top: item.pageY - 30, left: item.pageX - 20})
                                .appendTo("body")
                                .show();
                        }
                    }
                    else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }
                });

                // Initialize general map when tab is shown
                $('a[href="#dashboard-maps"]').on('shown.bs.tab', function() {
                    dashMap.css('height', componentHeight).css('width', '100%');

                    new GMaps({
                        div: '#dashboard-map',
                        lat: 0,
                        lng: 0,
                        zoom: 1
                    });
                });
            });
          </script>
          -->
    </body>
</html>


</body>
</html>
