<!DOCTYPE html>
 <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Twitance - A Twitter Recommendation and Analytics Tool</title>

        <meta name="description" content="Twitance is Twitter based Recommendation tool helping people to gain their audience">
        <meta name="author" content="AARJ">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="assets/favicon.ico">
        <link rel="apple-touch-icon" href="assets/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="assets/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="assets/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="assets/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="assets/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="assets/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="assets/icon152.png" sizes="152x152">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- The Open Sans font is included from Google Web Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic">

        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="assets/bootstrap.css">

        <!-- Related styles of various icon packs and javascript plugins -->
        <link rel="stylesheet" href="assets/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="assets/main.css">

        <!-- Load a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="assets/themes.css">
        <!-- END Stylesheets -->

        <!-- Modernizr (Browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it) -->
        <script src="assets/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="assets/application.js"></script>
    </head>
<body>
    <div id="page-container" class="full-width">
        <header class="navbar navbar-inverse">

            <!--<div class="col-sm-4 hidden-xs">
                        <ul class="navbar-nav-custom pull-left">
                            <!-- Desktop Button (Visible only on desktop resolutions) --
                            <li class="visible-md visible-lg">
                                <a href="javascript:void(0)" id="toggle-side-content">
                                    <i class="icon-reorder"></i>
                                </a>
                            </li>
                            <!-- END Desktop Button -->

                            <!-- Divider --
                            <li class="divider-vertical"></li>
                        </ul>
            </div>-->
            <div class="col-sm-12 text-center">
                        <!-- Top search -->
                       <!-- <form id="top-search" class="pull-left" action="page_ready_search_results.html" method="post">
                            <input type="text" id="search-term" class="form-control" name="search-term" placeholder="Search..">
                        </form>-->
                        <!-- END Top search -->

                        <!-- Logo -->
                        <a href="index.html" class="navbar-brand">
                            <img src="assets/template/image.png" alt="logo">
                        </a>
                        
                        <!-- END Logo -->

                        <!-- Loading Indicator, Used for demostrating how loading of notifications could happen, check main.js - uiDemo()
                        <div id="loading" class="display-none">
                            <i class="icon-spinner icon-spin"></i>
                        </div>
                          <div id="header-nav-section" class="col-sm-4 col-xs-12 clearfix">
                        <!-- Header Nav 
                        <ul class="navbar-nav-custom pull-right">
                            <!-- Theme Options, functionality initialized at main.js - templateOptions() 
                            <li class="dropdown dropdown-theme-options">
                                <ul class="dropdown-menu pull-right">
                                    <!-- Page Options
                                    <li class="theme-extra visible-md visible-lg">
                                        <label for="theme-page-full">
                                            <input type="checkbox" id="theme-page-full" name="theme-page-full" class="input-themed">
                                            Full width page
                                        </label>
                                    </li>
                                    <!-- END Page Options -->

                                    <!-- Divider 
                                    <li class="divider visible-md visible-lg"></li>

                                    <!-- Sidebar Options 
                                    <li class="theme-extra visible-md visible-lg">
                                        <label for="theme-sidebar-sticky">
                                            <input type="checkbox" id="theme-sidebar-sticky" name="theme-sidebar-sticky" class="input-themed">
                                            Sticky Sidebar
                                        </label>
                                    </li>
                                    <!-- END Sidebar Options -->

                                    <!-- Divider -->
                                    <!--<li class="divider visible-md visible-lg"></li>

                                    <!-- Header Options 
                                    <li class="theme-extra">
                                        <label for="theme-header-top">
                                            <input type="checkbox" id="theme-header-top" name="theme-header-top" class="input-themed">
                                            Top fixed header
                                        </label>
                                        <label for="theme-header-bottom">
                                            <input type="checkbox" id="theme-header-bottom" name="theme-header-bottom" class="input-themed">
                                            Bottom fixed header
                                        </label>
                                    </li>
                                    <!-- END Header Options -->

                                    <!-- Divider 
                                    <li class="divider"></li> -->

                                    <!-- Color Themes 
                                    <li>
                                        <ul class="theme-colors clearfix">
                                            <li class="active">
                                                <a href="javascript:void(0)" class="img-circle themed-background-default themed-border-default" data-theme="default" data-toggle="tooltip" title="Default"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-amethyst themed-border-amethyst" data-theme="css/themes/amethyst.css" data-toggle="tooltip" title="Amethyst"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-army themed-border-army" data-theme="css/themes/army.css" data-toggle="tooltip" title="Army"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-asphalt themed-border-asphalt" data-theme="css/themes/asphalt.css" data-toggle="tooltip" title="Asphalt"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-autumn themed-border-autumn" data-theme="css/themes/autumn.css" data-toggle="tooltip" title="Autumn"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-cherry themed-border-cherry" data-theme="css/themes/cherry.css" data-toggle="tooltip" title="Cherry"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-city themed-border-city" data-theme="css/themes/city.css" data-toggle="tooltip" title="City"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-dawn themed-border-dawn" data-theme="css/themes/dawn.css" data-toggle="tooltip" title="Dawn"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-deepsea themed-border-deepsea" data-theme="css/themes/deepsea.css" data-toggle="tooltip" title="Deepsea"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-diamond themed-border-diamond" data-theme="css/themes/diamond.css" data-toggle="tooltip" title="Diamond"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-fire themed-border-fire" data-theme="css/themes/fire.css" data-toggle="tooltip" title="Fire"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-grass themed-border-grass" data-theme="css/themes/grass.css" data-toggle="tooltip" title="Grass"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-leaf themed-border-leaf" data-theme="css/themes/leaf.css" data-toggle="tooltip" title="Leaf"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-night themed-border-night" data-theme="css/themes/night.css" data-toggle="tooltip" title="Night"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-ocean themed-border-ocean" data-theme="css/themes/ocean.css" data-toggle="tooltip" title="Ocean"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-oil themed-border-oil" data-theme="css/themes/oil.css" data-toggle="tooltip" title="Oil"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-stone themed-border-stone" data-theme="css/themes/stone.css" data-toggle="tooltip" title="Stone"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-sun themed-border-sun" data-theme="css/themes/sun.css" data-toggle="tooltip" title="Sun"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-tulip themed-border-tulip" data-theme="css/themes/tulip.css" data-toggle="tooltip" title="Tulip"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" class="img-circle themed-background-wood themed-border-wood" data-theme="css/themes/wood.css" data-toggle="tooltip" title="Wood"></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- END Color Themes -->
                                </ul>
                            </li>
                            <!-- END Theme Options -->

                            <!-- Divider 
                            <li class="divider-vertical"></li>

                           
                        <!-- END Header Nav -->

                        <!-- Mobile Navigation, Shows up on tables and mobiles --
                        <ul class="navbar-nav-custom pull-left visible-xs visible-sm" id="mobile-nav">
                            <li>
                                <!-- It is set to open and close the main navigation on tables and mobiles. The class .navbar-main-collapse was added to aside#page-sidebar --
                                <a href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-main-collapse">
                                    <i class="icon-reorder"></i>
                                </a>
                            </li>
                            <li class="divider-vertical"></li>
                        </ul>
                        <!-- END Mobile Navigation, Shows up on tables and on mobiles -->
                    </div>
            </div>
        </header>
        <!--<aside id="page-sidebar" class="collapse navbar-collapse navbar-main-collapse">
                <!--
                Wrapper for scrolling functionality
                Used only if the .sticky class added above. You can remove it and you will have a sticky sidebar
                without scrolling enabled when you set the sidebar to be sticky
                
                <div class="side-scrollable">
                    <!-- Mini Profile --
                    <div class="mini-profile">
                        <div class="mini-profile-options">
                            <a href="javascript:void(0)" class="badge badge-info loading-on" data-toggle="tooltip" data-placement="right" title="Refresh">
                                <i class="icon-refresh"></i>
                            </a>
                            <a href="page_ready_shopping_cart.html" class="badge badge-warning" data-toggle="tooltip" data-placement="right" title="6 Products">
                                <i class="glyphicon-shopping_cart"></i>
                            </a>
                            <!-- Modal div is at the bottom of the page before including javascript code, we use .enable-tooltip class for the tooltip because data-toggle is used for modal --
                            <a href="#modal-user-account" class="badge badge-success enable-tooltip" role="button" data-toggle="modal" data-placement="right" title="Settings">
                                <i class="glyphicon-cogwheel"></i>
                            </a>
                            <a href="page_login.html" class="badge badge-danger" data-toggle="tooltip" data-placement="right" title="Log out">
                                <i class="icon-signout"></i>
                            </a>
                        </div>
                        <a href="page_ready_user_profile.html">
                            <img src="img/template/avatar2.jpg" alt="Avatar" class="img-circle">
                        </a>
                    </div>
                    <!-- END Mini Profile -->

                    <!-- Sidebar Tabs --
                    <div class="sidebar-tabs-con">
                        <ul class="sidebar-tabs" data-toggle="tabs">
                            <li class="active">
                                <a href="#side-tab-menu"><i class="glyphicon-list"></i></a>
                            </li>
                            <li>
                                <a href="#side-tab-extra"><i class="glyphicon-charts"></i></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="side-tab-menu">
                                <!-- Primary Navigation --
                                <nav id="primary-nav">
                                    <ul>
                                        <li>
                                            <a href="index.html" class=" active"><i class="glyphicon-display"></i>Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="glyphicon-vector_path_circle"></i>User Interface</a>
                                            <ul>
                                                <li>
                                                    <a href="page_ui_blocks.html">Blocks</a>
                                                </li>
                                                <li>
                                                    <a href="page_ui_grid.html">Grid</a>
                                                </li>
                                                <li>
                                                    <a href="page_ui_typography.html">Typography</a>
                                                </li>
                                                <li>
                                                    <a href="page_ui_navigation.html">Navigation</a>
                                                </li>
                                                <li>
                                                    <a href="page_ui_tabs_accordions.html">Tabs &amp; Accordions</a>
                                                </li>
                                                <li>
                                                    <a href="page_ui_buttons_dropdowns.html">Buttons &amp; Dropdowns</a>
                                                </li>
                                                <li>
                                                    <a href="page_ui_progress_bars.html">Progress Bars</a>
                                                </li>
                                                <li>
                                                    <a href="page_ui_carousel.html">Carousel</a>
                                                </li>
                                                <li>
                                                    <a href="page_ui_extras.html">Extras</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="glyphicon-table"></i>Tables</a>
                                            <ul>
                                                <li>
                                                    <a href="page_tables_static.html">Static</a>
                                                </li>
                                                <li>
                                                    <a href="page_tables_dynamic.html">Dynamic</a>
                                                </li>
                                                <li>
                                                    <a href="page_tables_editable.html">Editable</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="glyphicon-more_windows"></i>Forms</a>
                                            <ul>
                                                <li>
                                                    <a href="page_forms_general.html">General</a>
                                                </li>
                                                <li>
                                                    <a href="page_forms_layouts_styles.html">Layouts &amp; Styles</a>
                                                </li>
                                                <li>
                                                    <a href="page_forms_pickers_grid.html">Pickers &amp; Grid</a>
                                                </li>
                                                <li>
                                                    <a href="page_forms_textareas_wysiwyg.html">Textareas &amp; WYSIWYG</a>
                                                </li>
                                                <li>
                                                    <a href="page_forms_upload_dropzone.html">File Upload &amp; Dropzone</a>
                                                </li>
                                                <li>
                                                    <a href="page_forms_validation.html">Validation</a>
                                                </li>
                                                <li>
                                                    <a href="page_forms_wizard.html">Wizard</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="glyphicon-fire"></i>Components</a>
                                            <ul>
                                                <li>
                                                    <a href="page_comp_inbox.html">Inbox</a>
                                                </li>
                                                <li>
                                                    <a href="page_comp_chat.html">Chat</a>
                                                </li>
                                                <li>
                                                    <a href="page_comp_timeline.html">Timeline</a>
                                                </li>
                                                <li>
                                                    <a href="page_comp_tiles.html">Tiles</a>
                                                </li>
                                                <li>
                                                    <a href="page_comp_gallery.html">Gallery</a>
                                                </li>
                                                <li>
                                                    <a href="page_comp_charts.html">Charts</a>
                                                </li>
                                                <li>
                                                    <a href="page_comp_calendar.html">Calendar</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="submenu-link">Maps</a>
                                                    <ul>
                                                        <li>
                                                            <a href="page_comp_vector_maps.html">Vector Maps</a>
                                                        </li>
                                                        <li>
                                                            <a href="page_comp_google_maps.html">Google Maps</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="page_comp_syntax_highlighting.html">Syntax Highlighting</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="glyphicon-pizza"></i>Icon Packs</a>
                                            <ul>
                                                <li>
                                                    <a href="page_icons_glyphicons_pro.html">Glyphicons Pro</a>
                                                </li>
                                                <li>
                                                    <a href="page_icons_fontawesome.html">FontAwesome</a>
                                                </li>
                                                <li>
                                                    <a href="page_icons_gemicon.html">Gemicon</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="glyphicon-certificate"></i>Ready UI</a>
                                            <ul>
                                                <li>
                                                    <a href="page_ready_search_results.html">Search Results</a>
                                                </li>
                                                <li>
                                                    <a href="page_ready_user_profile.html">User Profile</a>
                                                </li>
                                                <li>
                                                    <a href="page_ready_pricing_tables.html">Pricing Tables</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="submenu-link">Forum</a>
                                                    <ul>
                                                        <li>
                                                            <a href="page_ready_forum_categories.html">Categories</a>
                                                        </li>
                                                        <li>
                                                            <a href="page_ready_forum_topics.html">Topics</a>
                                                        </li>
                                                        <li>
                                                            <a href="page_ready_forum_conversation.html">Conversation</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" class="submenu-link">e-Shop</a>
                                                    <ul>
                                                        <li>
                                                            <a href="page_ready_product.html">Product</a>
                                                        </li>
                                                        <li>
                                                            <a href="page_ready_products_list.html">Products List</a>
                                                        </li>
                                                        <li>
                                                            <a href="page_ready_shopping_cart.html">Shopping Cart</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="page_ready_invoice.html">Invoice</a>
                                                </li>
                                                <li>
                                                    <a href="page_ready_article.html">Article</a>
                                                </li>
                                                <li>
                                                    <a href="page_ready_faq.html">FAQ</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="submenu-link">Errors</a>
                                                    <ul>
                                                        <li>
                                                            <a href="page_ready_errors.html">In-Page</a>
                                                        </li>
                                                        <li>
                                                            <a href="page_ready_standalone_error.html">Standalone</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="page_ready_blank.html">Blank</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="glyphicon-power"></i>Login Pages</a>
                                            <ul>
                                                <li>
                                                    <a href="page_login.html">Login with animation</a>
                                                </li>
                                                <li>
                                                    <a href="page_login_alt.html">Login without animation</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="page_landing.html"><i class="glyphicon-leaf"></i>Landing Page</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- END Primary Navigation --
                            </div>
                            <div class="tab-pane tab-pane-side" id="side-tab-extra">
                                <h5><i class="icon-briefcase pull-right"></i><a href="javascript:void(0)" class="side-link">Balance</a></h5>
                                <div>$25.230,00</div>

                                <h5><i class="icon-dollar pull-right"></i><a href="javascript:void(0)" class="side-link">Earnings (today)</a></h5>
                                <div>$1.752,00</div>

                                <h5><i class="icon-shopping-cart pull-right"></i><a href="javascript:void(0)" class="side-link">Sales (today)</a></h5>
                                <div>368</div>

                                <h5><i class="icon-shopping-cart pull-right"></i><a href="javascript:void(0)" class="side-link">Sales (this month)</a></h5>
                                <div class="text-success">+38%</div>

                                <h5><i class="icon-ticket pull-right"></i><a href="javascript:void(0)" class="side-link">Open Tickets</a></h5>
                                <div>23</div>

                                <h5><i class="icon-bug pull-right"></i><a href="javascript:void(0)" class="side-link">Bugs to fix</a></h5>
                                <div>2 important</div>
                                <div>5 normal</div>
                            </div>
                        </div>
                    </div>
                    <!-- END Sidebar Tabs --
                </div>
                <!-- END Wrapper for scrolling functionality --
            </aside>-->
            <div class="col-md-12">
                        <div class="block block-themed themed-fire">

                            <%= yield %>   
                        </div>
                    </div>

        
    </div>
         <!-- Excanvas for Flot (Charts plugin) support on IE8 -->
        <!--[if lte IE 8]><script src="js/helpers/excanvas.min.js"></script><![endif]-->

        <!-- Get Jquery library from Google but if something goes wrong get Jquery from local file - Remove 'http:' if you have SSL -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="js/vendor/jquery-1.9.1.min.js"%3E%3C/script%3E'));</script>

        <!-- Bootstrap.js -->
        <script src="assets/vendor/bootstrap.min.js"></script>

        <!-- Jquery plugins and custom javascript code -->
        <script src="assets/plugins.js"></script>
        <script src="assets/main.js"></script>
        
        <!-- Google Maps API + Gmaps Plugin - Remove 'http:' if you have SSL -->
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="assets/helpers/gmaps.min.js"></script>

        <!-- Javascript code only for this page -->
        <script>
            $(function() {
                var dashChart = $('#dashboard-chart');
                var dashMap = $('#dashboard-map');
                var componentHeight = '300px';

                // Initialize Slimscroll
                $('.scrollable').slimScroll({
                    height: componentHeight,
                    color: '#333',
                    size: '5px',
                    alwaysVisible: true,
                    railVisible: true,
                    railColor: '#333',
                    railOpacity: 0.1,
                    touchScrollStep: 750
                });

                /* Dashboard Chart */
                var dashData1 = [[0, 620], [1, 500], [2, 900], [3, 650], [4, 1250], [5, 850], [6, 1700]];
                var dashData2 = [[0, 110], [1, 80], [2, 320], [3, 250], [4, 550], [5, 520], [6, 600]];

                dashChart.css('height', componentHeight);

                // Initialize Classic Chart
                $.plot(dashChart, [
                    {data: dashData1, lines: {show: true, fill: true, fillColor: {colors: [{opacity: 0.25}, {opacity: 0.25}]}}, points: {show: true}, label: 'New Users'},
                    {data: dashData2, lines: {show: true, fill: true, fillColor: {colors: [{opacity: 0.1}, {opacity: 0.1}]}}, points: {show: true}, label: 'New Projects'}],
                {
                    legend: {
                        position: 'nw',
                        backgroundColor: null
                    },
                    colors: ['#2980b9', '#333'],
                    grid: {
                        borderWidth: 0,
                        color: '#999999',
                        labelMargin: 10,
                        hoverable: true,
                        clickable: true
                    },
                    yaxis: {
                        ticks: 0,
                        tickColor: '#fff'
                    },
                    xaxis: {
                        tickSize: 1,
                        tickColor: '#fff',
                        ticks: [[0, 'MON'], [1, 'TUE'], [2, 'WED'], [3, 'THU'], [4, 'FRI'], [5, 'SAT'], [6, 'SUN']]
                    }
                }
                );

                // Creating and attaching a tooltip
                var previousPoint = null;
                dashChart.bind("plothover", function(event, pos, item) {

                    if (item) {
                        if (previousPoint !== item.dataIndex) {
                            previousPoint = item.dataIndex;

                            $("#tooltip").remove();
                            var x = item.datapoint[0],
                                y = item.datapoint[1];

                            $('<div id="tooltip" class="chart-tooltip"><strong>' + y + '</strong></div>')
                                .css({top: item.pageY - 30, left: item.pageX - 20})
                                .appendTo("body")
                                .show();
                        }
                    }
                    else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }
                });

                // Initialize general map when tab is shown
                $('a[href="#dashboard-maps"]').on('shown.bs.tab', function() {
                    dashMap.css('height', componentHeight).css('width', '100%');

                    new GMaps({
                        div: '#dashboard-map',
                        lat: 0,
                        lng: 0,
                        zoom: 1
                    });
                });
            });
        </script>
    </body>
</html>


</body>
</html>
